/* Main Style */
.switcher h3 {
	font-size:13px;
	margin: 1px 0 3px 0;
	color:#474646;
}

.switcher {
	background: #FBFBFB;
	width:159px;
	position:fixed;
	top:126px;
	z-index:9999;
	left:0px;
	border-radius: 0 0 4px 0;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	-webkit-box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
	box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
}

.switcher h2 {
	background: #474646;
	color: #FFFFFF;
	padding: 0;
	font-size: 15px;
	padding: 5px 0 6px 15px;
}

.switcher h2 a {
	background: url("icons/switcher.png") no-repeat scroll left center transparent;
	display: block;
	height: 41px;
	position: absolute;
	right: -39px;
	text-indent: -9999px;
	top: 0;
	width: 39px;
	border-radius: 0 4px 4px 0;
}

.switcher .content {
	padding:5px 16px 16px 16px;
	overflow:hidden;
}

.hide {
	display:none; /* first load page enough */
}

/* Layout Box */
.layout-switcher {
	margin:0 0 10px 0;
	overflow:hidden;
}

.layout-switcher a.layout {
	padding: 6px 7px 8px 7px;
	border-radius: 2px;
	color: #797878;
	border: 2px solid #EAEAEA;
	width: 39px;
	cursor: pointer;
	float: left;
	display: block;
	margin: 0 6px 0 0;
	text-align: center;
	background: white;
}

/*.layout-switcher a.layout.selected3 {
	color: #474646;
	cursor: default;
	border: 2px solid #474646;
}

*/

/* Color Box */
.switcher-box {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}

.styleswitch {
	width: 21px;
    height: 24px;
	display: block;
	cursor: pointer;
	margin: 0 4px 4px 0;
	float:left;
}

/*.styleswitch.selected { box-shadow: 0 0 0 2px #474646 inset; }*/

.styleswitch#blue   { background-color:#00aec8; }
.styleswitch#orange { background-color:#ee7e2a; }
.styleswitch#purple { background-color:#81519c; }
.styleswitch#red    { background-color:#e64141; }
.styleswitch#green  { background-color:#53b808; }


/* Background Box */
.bg {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}

.pattern {
	width: 21px;
    height: 24px;
	display: block;
	cursor: pointer;
	margin: 0 4px 4px 0;
	float:left;
	box-shadow: 0 0 0 1px #D6D2D2 inset;
}

/*.pattern.selected2 { box-shadow: 0 0 0 2px #474646 inset; }*/

.pattern#crossed { background: url("icons/crossed.png") no-repeat ; }
.pattern#fabric  { background: url("icons/fabric.png") no-repeat ; }
.pattern#linen   { background: url("icons/linen.png") no-repeat ; }
.pattern#wood    { background: url("icons/wood.png") no-repeat ; }
.pattern#diagmonds    { background: url("icons/diagmonds.png") no-repeat ; }
.pattern#triangles    { background: url("icons/triangles.png") no-repeat ; }
.pattern#black_mamba    { background: url("icons/black_mamba.png") no-repeat ; }
.pattern#vichy    { background: url("icons/vichy.png") no-repeat ; }
.pattern#back_pattern    { background: url("icons/back_pattern.png") no-repeat ; }
.pattern#checkered_pattern    { background: url("icons/checkered_pattern.png") no-repeat ; }
.pattern#diamond_upholstery    { background: url("icons/diamond_upholstery.png") no-repeat ; }
.pattern#lyonnette    { background: url("icons/lyonnette.png") no-repeat ; }
.pattern#graphy    { background: url("icons/graphy.png") no-repeat ; }
.pattern#black_thread    { background: url("icons/black_thread.png") no-repeat ; }
.pattern#subtlenet2    { background: url("icons/subtlenet2.png") no-repeat ; }

/* Dark Style */
a.dark-style {
	display:block;
	padding:9px 0 11px 0;
	text-align:center;
	background:#292929;
	color:#fff;
}

/* Media Queries
================================================== */

/* Smaller than standard 1024px (devices and browsers) */
@media only screen and (max-width: 1024px) {

.switcher {
	left:-1000px !important;
}

.switcher-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:200;
	background:#292929;
	padding:0 .775%;
}

.styleswitch {
	width:19.53%;
	height:10px;
	display:inline-block;
	cursor:pointer;
	margin:0 2px 0 0;
	float:left;
}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.switcher-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:200;
	background:#292929;
	padding:0 .775%;
}

.styleswitch {
	width:19.54%;
	height:10px;
	display:inline-block;
	cursor:pointer;
	margin:0 2px 0 0;
	float:left;
}

.switcher {
	left:-1000px !important;
}
	

}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
.switcher-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:200;
	background:#292929;
	padding:0 .775%;
}

.styleswitch {
	width:19.59%;
	height:10px;
	display:inline-block;
	cursor:pointer;
	margin:0 2px 0 0;
	float:left;
}

.switcher {
	left:-1000px !important;
}
	
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.switcher-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:200;
	background:#292929;
	padding:0 .775%;
}

.styleswitch {
	width:19.4%;
	height:10px;
	display:inline-block;
	cursor:pointer;
	margin:0 2px 0 0;
	float:left;
}

.switcher {
	left:-1000px !important;
}


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


.switcher-box {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:200;
	background:#292929;
	padding:0 .775%;
}

.styleswitch {
	width:19.2%;
	height:10px;
	display:inline-block;
	cursor:pointer;
	margin:0 2px 0 0;
	float:left;
}

.switcher {
	left:-1000px !important;
}
	

}
