/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/
html { 
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans';
    font-size: 12px;
    background: none;
}

input,
button,
select,
textarea {
    font-family: 'Open Sans';
}

a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
}

blockquote {
    border-left: 2px solid #fc7100;
    border-right: 2px solid #fc7100;
    padding: 0px 16px;
    margin: 20px 0px;
    font-family: 'Times New Roman';
    color: #989898;
    line-height: 24px;
    font-size: 18px;
    font-style: italic;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


.ads-728x90 {
    width: 728px;
    height: 90px;
    overflow: hidden;
}

.inline-list.m0 li {
    margin: 0;
}

.clear {
    clear: both;
}

.oh { overflow: hidden; }

.mb10 {margin-bottom: 10px !important; }
.mb25 {margin-bottom: 25px !important; }

.pull-left {
    float: left !important;
    margin-left: 0 !important;
}

.pull-right {
    float: right !important;
    margin-right: 0 !important;
}

.pull-center {
    margin: 0 !important;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
body > header {
    width: 100%;
    background: #fff;
}

body > header .inner-header {
    max-width: 990px;
    margin: auto;
    padding: 15px 0;
}

#top-menu {
    width: 100%;
    background: #fc7100;
}

#top-menu > ul {
    max-width: 990px;
    margin: auto;
}

#top-menu a {
    display: block;
    padding: 6px 16px;
    border-right: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    font-size: 11px;
}

#top-menu li:first-child > a {
    border-left: 1px solid rgba(0,0,0,0.1);
}

#logo {
    padding: 2px 0 0 0;
}

/*-------------------------------------------------*/
/* =  Container
/*-------------------------------------------------*/
.container {
    max-width: 990px;
    background: #fff;
    margin-bottom: 50px;
}

.container header {
    background: #2e2e2e;
}

.container .inner-container {
    width: 960px;
    margin: 22.5px auto 0 auto;
}

.post-title {
    font-family: 'PT Sans';
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #fc7100;
}

/* Main menu */
#main-menu select { display: none; }

#main-menu > ul {
    margin: 0;
}

#main-menu a {
    font-family: 'Oswald';
    font-size: 14px;
    text-transform: uppercase;
}

#main-menu > ul > li > a {
    display: block;
    color: #fff;
    padding: 12px 25px;
    border-right: 1px solid #000;
    line-height: normal;
}

#main-menu a:hover, #main-menu a.active {
    background: #fc7100;
}

/* DropDown Menu = Superfish */
.sf-menu {
    line-height: 1.0;
    overflow: visible !important;
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 200px; /* left offset of submenus need to match (see below) */
    margin: 0 !important;
}

.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
    float: left;
    position: relative;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left: -1px;
    top: 45px; /* match top ul list item height */
    z-index: 99;
}

.sf-menu li:hover li ul,
.sf-menu li.sfHover li ul {
    top: -999em;
}

.sf-menu li li:hover ul,
.sf-menu li li.sfHover ul {
    left: 198px; /* match ul width */
    top: -1px;
    /*margin-left: 2px;*/
}

.sf-menu li li:hover li ul,
.sf-menu li li.sfHover li ul {
    top: -999em;
}

.sf-menu li li li:hover ul,
.sf-menu li li li.sfHover ul {
    left: 198; /* match ul width */
    top: -1px;
}

.sf-menu .sub-menu {
    overflow: visible !important;
    border: 1px solid #000;
}

.sf-menu .sub-menu li {
    background: #2e2e2e;
    padding-right: 0;
    list-style: none;
}

.sf-menu .sub-menu li {
    border-top: 1px solid #000;
}

.sf-menu .sub-menu > li:first-child {
    border-top: none;
}

.sf-menu .sub-menu a {
    color: #fff;
    padding: 8px;
    line-height: normal;
    text-transform: none !important;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    outline: 0;
    color: #fff;
}

/* Search Bar */
.search-bar {
    margin: 10px 10px 0 0;
}

.search-bar input[type="text"] {
    float: left;
    height: auto;
    line-height: normal;
    background: #9a9a9a;
    width: 120px;
    font-size: 11px;
    padding: 5px 10px;
    border: none;
    color: #2e2e2e;
    border-radius: 0;
    margin: 0 !important;
    box-shadow: none;
    outline: none;
}

.search-bar input[type="submit"] {
    float: right;
    background: url(../images/search-icon.png) no-repeat center center;
    border: none;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

/*-------------------------------------------------*/
/* =  Flexslider
/*-------------------------------------------------*/
.flexslider { position: relative; }
.flexslider, .flexslider .slides li { min-width: 100%; }
.flexslider .slides {zoom: 1; margin: 0; }
.flexslider .slides > li { display: none; }
.flexslider, .flexslider .slides li, .flexslider .slides > li > a { height: 343px; }

.pull-center .flexslider, .pull-center .flexslider .slides li, .pull-center .flexslider .slides > li > a { height: 420px; }

.flexslider img { min-width: 100%; max-height: 100%; }
.pull-center .flexslider img { min-width: 100%; max-height: 100%; height: 100%; }

/* Caption */
.flex-caption { position: absolute; left: 0; bottom: 0; font-size: 13px; padding: 18px 20px; color: #fff; height: 100px; width: 100%; overflow: hidden; background: rgba(0,0,0, 0.5); background: url(http://www.htmltocss.com/rgbatopng.php?rgba=0,0,0,0.5)\0/; }
.flex-caption .desc { height: 60px; overflow: hidden; }
.flex-caption h1 { line-height: normal; margin: 0; }
.flex-caption a { color: #fc7100; margin-bottom: 7px; font-family: 'PT Sans'; font-size: 18px; line-height: 20px; display: block; }
.flex-caption p { line-height: 17px }

/* Direction Nav */
.flexslider.no-nav .flex-direction-nav { display: none; }

.flex-direction-nav { position: absolute; left: 0; top: 50%; margin: 0; margin-top: -23px; right: 0; height: 46px; min-width: 100%; }
.flex-direction-nav li:first-child { float: left; }
.flex-direction-nav li { float: right; margin-top: 0; }
.flex-direction-nav a { display: block; width: 46px; height: 46px; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next { background: rgba(0,0,0, 0.5) url(../images/slider-next.png) no-repeat center; }
.flex-direction-nav .flex-prev { background: rgba(0,0,0, 0.5) url(../images/slider-prev.png) no-repeat center; }
.flex-direction-nav .flex-next:hover { opacity: 0.8; }
.flex-direction-nav .flex-prev:hover { opacity: 0.8; }

/* Control Nav */
.flex-control-nav { position: absolute; top: 17px; right: 17px; text-align: center; }
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a {width: 18px; height: 18px; display: block; background: transparent; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; border: 3px solid rgba(0,0,0, .5); }
.flex-control-paging li a.flex-active { background: #fff; cursor: default; }

/*-------------------------------------------------*/
/* =  Content
/*-------------------------------------------------*/
#content {
    margin-bottom: 40px;
}

#content p {
    font-size: 13px;
}

.cat-title {
    font-family: 'Oswald';
    font-size: 15px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: normal;
    color: #fff;
    margin: 0px;
    padding: 9px 14px 8px 42px;
    background: #fc7100 url(../images/cat-icon.png) no-repeat 5px center;
}

.cat-title a {
    color: #fff;
}

.post {
    margin-bottom: 20px;
}

.post-image img {
    min-width: 100%;
}

.post-container {
    margin: 10px 0 15px 0;
    height: 104px;
    overflow: hidden;
}

.post-container .post-title {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 8px 0;
    color: #535353;
}

.post-container .post-content {
    color: #999;
    line-height: 18px;
    font-size: 13px;
}

.post-meta {
    font-family: 'Georgia';
    font-size: 11px;
    line-height: 16px;
    font-style: italic;
    color: #999;
    margin-bottom: 15px;
}

.post-meta a, span.date a {
    color: #999;
}

.post-meta .comments {
    background: url(../images/comments-icon.png) no-repeat left center;
    padding: 5px 0 5px 30px;
    margin-right: 10px;
}

.post-meta .author {
    background: url(../images/author-icon.png) no-repeat left center;
    padding: 5px 0 5px 20px;
    margin-right: 10px;
}

.post-meta .date, .date {
    background: url(../images/date-icon.png) no-repeat left center;
    padding: 5px 0 5px 20px;
}

.other-posts {

	border-top: 1px solid #eaeaea;
	padding-top: 15px;
}
.other-posts .date {
    font-size: 11px;
    padding: 0 0 0 20px;
    float: left;
}

.other-posts li {
    display: block;
    height: 50px;
    margin-bottom: 25px;
}

.other-posts li > a {
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}

.other-posts .post-title {
    font-family: 'PT Sans';
    font-size: 13px;
    color: #fc7100;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 5px 0;
}

.ads-middle {
    border: 1px solid #dbdbdb;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

/*-------------------------------------------------*/
/* =  Carousel
/*-------------------------------------------------*/
.carousel-container {
    position: relative;
}

/* Navigation */
.carousel-navigation {
    position: absolute;
    right: 9px; 
    top: -32px; 
    z-index: 1;
}

.carousel-navigation a {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2) !important;
}

.carousel-navigation .carousel-prev {
    float: left;
    margin-right: 1px;
    background: url(../images/carousel-prev.png) no-repeat center;
}

.carousel-navigation .carousel-next {
    float: right;
    background: url(../images/carousel-next.png) no-repeat center;
}


/*-------------------------------------------------*/
/* =  Pagenation
/*-------------------------------------------------*/
.pagenation {
    border-top: 1px solid #e4e4e4;
    padding: 20px 0 0 0; 
    margin: 10px 0 30px 0;
}

.pagenation li {
    float: left;
    background: #fc7100;
    margin-left: 4px;
    border-radius: 3px;
}

.pagenation li.active {
    background: #535353;
}

.pagenation li:first-child {
    margin-left: 0;
}

.pagenation li a {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 11px;
}

.pagenation li:not(.active):hover {
    opacity: 0.90;
    -moz-opacity: 0.90;
    filter:alpha(opacity=90);
}

/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/
footer {
    clear: both;
    position: relative;
    background: url(../images/footer-bg.png);
    margin: 0 -15px !important;
    padding: 30px 10px 0 10px;
    border-top: 10px solid #e6e6e6;
    color: #fff;
}

footer p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 16px;
}

footer .widget-title {
    font-family: 'Oswald';
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.copyright {
    clear: both;
    background: #fc7100;
    color: #fff;
    font-family: 'PT Sans';
    font-size: 11px;
    padding: 17px 20px;
    margin: 20px -10px 0 -10px;
}

#back-to-top {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 1;
}

#back-to-top a {
    display: block;
    text-indent: -9999px;
    width: 46px;
    height: 32px;
    background: rgba(0,0,0,0.3) url(../images/back-to-top.png) no-repeat center;
}

/*-------------------------------------------------*/
/* =  Sidebar = AIO Widgets
/*-------------------------------------------------*/
#sidebar { float: right; }

#sidebar p {
    font-style: normal;
    color: #2d2d2d;
    font-size: 13px;
}

#sidebar .widget-title {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2e2e2e;
    margin: 0 0 15px 0;
}

#sidebar > ul > li {
    margin: 0 0 30px 0;
}

#sidebar .widget {
    width: 300px;
}

/*-------------------------------------------------*/
/* =  Tabs Widget
/*-------------------------------------------------*/
.tabs-widget {
    width: 298px !important;
    padding: 0px !important;
    border-top: none;
}

.tabs-widget .tab-links {
    margin: 0;
}

.tabs-widget .tab-links li {
    float: left;
    width: 97px;
    margin-left: 4px;
    margin-bottom: -1px;
    background: #fff;
}

.tabs-widget .tab-links li:first-child {
    margin-left: 0px;
    width: 96px;
}

.tabs-widget .tab-links li a {
    font-family: 'PT Sans';
    color: #5a5a5a;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #d8d8d8;
    background: #fff;
    border-bottom: none;
    padding: 10px 0px;
    text-align: center;
    display: block;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.tabs-widget .tab-links li.active a {
    color: #fff;
    background: #fc7100;
    border: 1px solid #fc7100;
}

.tabs-widget > div {
    clear: both;
    display: none;
}

.tabs-widget > div > ul {
    margin: 0;
}

.tabs-widget #popular-tab {
    display: block;
}

.tabs-widget .author-comment {
    color: #7f7f7f;
    font-size: 11px;
    line-height: 14px;
    max-height: 42px;
    overflow: hidden;
    display: block;
}

.tabs-widget .post-date {
    background: url(../images/date-icon.png) no-repeat 75px center;
    padding-left: 96px;
    font-size: 11px;
    height: 22px;
    line-height: 24px;
}

.tabs-widget > div li {
    overflow: hidden;
    padding: 14px;
    border: 1px solid #d8d8d8;
    border-top: none;
    background: #fff;
}

.tabs-widget > div li:first-child {
    border-top: 1px solid #d8d8d8;
}

.tabs-widget > div li > a {
    display: block;
}

.tabs-widget img {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 14px;
}

.tabs-widget > div h3 {
    font-family: 'PT Sans';
    margin: 0 0 4px 0px;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
}

.tabs-widget > div h3 a {
    color: #fc7100;
    display: block;
    font-size: 13px;
}

.tabs-widget > div h3 a:hover {
    opacity: 0.8;
}

.tabs-widget > div#comments-tab h3 {
    max-height: 15px;
}

footer .tabs-widget p, footer .tabs-widget .post-date {
    color: #2d2d2d;
}

/*-------------------------------------------------*/
/* =  Subsribe Widget
/*-------------------------------------------------*/
li.subscribe-widget form {
    height: 30px;
    margin: 0;
    overflow: hidden;
}

li.subscribe-widget input[type="text"] {
    float: left;
    border: 1px solid #d8d8d8;
    padding: 0 0 0 10px;
    font-size: 11px;
    color: #6a6a6a;
    width: 100%;
    height: 30px;
    margin: 0;
    line-height: 30px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

li.subscribe-widget input[type="submit"] {
    float: right;
    font-weight: bold;
    background: #fc7100;
    font-size: 12px;
    color: #fff;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    border: none;
    position: relative;
    top: -30px;
}

/*-------------------------------------------------*/
/* =  Ads Small Widget
/*-------------------------------------------------*/
#sidebar li.widget_ads_small {
    margin-bottom: 18px !important;
}

li.widget_ads_small > ul {
    margin-left: 0;
}

li.widget_ads_small li {
    float: left;
    width: 142px;
    height: 142px;
    margin: 0 11px 11px 0;
    margin: 0 8px 8px 0\0/;
    overflow: hidden;
}

li.widget_ads_small li img {
    width: 142px;
    height: 142px;
}

li.widget_ads_small li:nth-child(2n) {
    margin-right: 0px;
}

/*-------------------------------------------------*/
/* =  Ads Big Widget
/*-------------------------------------------------*/
li.widget_ads_big > div {
    width: 100%;
}

li.widget_ads_big > div img {
    min-width: 100%;
}

/*-------------------------------------------------*/
/* =  Facebook Box Widget
/*-------------------------------------------------*/
li.widget_facebook_box iframe {
    background: #fff;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 258px;
}

/*-------------------------------------------------*/
/* =  Google+ Box Widget
/*-------------------------------------------------*/
li.widget_google_plus > div {
    width: 100%;
}

/*-------------------------------------------------*/
/* =  Video Widget
/*-------------------------------------------------*/
li.widget_video iframe {
    width: 100%;
}

/*-------------------------------------------------*/
/* =  Archive Widget, Categories Widget & Pages Widget
/*-------------------------------------------------*/
li.widget_archive > ul,
li.widget_categories > ul,
li.widget_pages > ul,
li.widget_recent_entries > ul,
li.widget_recent_comments > ul {
    margin-left: 0;
}

li.widget_archive li,
li.widget_categories li,
li.widget_pages li,
li.widget_recent_entries li,
li.widget_recent_comments li {
    display: block;
    color: #b5b5b5;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 10px;
}

li.widget_recent_comments li {
    font-style: normal;
    margin-bottom: 10px;
}

li.widget_archive li:last-child,
li.widget_categories li:last-child,
li.widget_pages li:last-child,
li.widget_recent_entries li:last-child,
li.widget_recent_comments li:last-child {
    margin-bottom: 0px;
}

li.widget_archive li a,
li.widget_categories li a,
li.widget_pages li a,
li.widget_recent_entries li a,
li.widget_recent_comments li a {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

li.widget_recent_comments li a {
    line-height: 20px;
}

li.widget_recent_comments li a.url {
    font-weight: bold;
}

li.widget_categories ul.children {
    margin: 15px 0 0 20px;
    /*display: none;*/
}

footer li.widget_archive li a,
footer li.widget_pages li a,
footer li.widget_categories li a,
footer li.widget_recent_entries li a,
footer li.widget_recent_comments li a {
    color: #fff;
}

footer li.widget_archive li,
footer li.widget_pages li,
footer li.widget_categories li,
footer li.widget_recent_entries li,
footer li.widget_recent_comments li {
    color: #909191;
}

/*-------------------------------------------------*/
/* =  RSS Widget
/*-------------------------------------------------*/
li.widget_rss .widget-title > a:first-child {
    display: none;
}

li.widget_rss li {
    margin-bottom: 15px;
}

li.widget_rss .rsswidget {
    display: block;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

li.widget_rss .rss-date {
    display: block;
    color: #fc7100;
    font-size: 11px;
    padding: 3px 0 8px 0;
}

li.widget_rss .rssSummary {
    line-height: 20px;
    color: #2d2d2d;
}

/*-------------------------------------------------*/
/* =  Flicker Widget
/*-------------------------------------------------*/
#sidebar .flickr-widget a:hover img {
    border-color: #ccc;
}

#sidebar .flickr-widget img {
    border: 6px solid #bbb;
}

.flickr-widget a:hover img {
    border-color: #2d2d2d;
}

.flickr-widget img {
    border: 6px solid #3d3d3d;
}

/*-------------------------------------------------*/
/* =  Search Widget
/*-------------------------------------------------*/
li.widget_search form {
    height: 30px;
    margin: 0;
    overflow: hidden;
}

li.widget_search input[type="text"] {
    float: left;
    width: 100%;
    height: 28px;
    margin: 0;
    line-height: 28px;
    padding-left: 10px;
    border: 0px;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    font-size: 11px;
    color: #bfbfbf;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

li.widget_search input[type="submit"] {
    float: right;
    border: 1px solid #d8d8d8;
    width: 31px;
    height: 28px;
    background: #fff url(../images/search-icon-1.png) no-repeat center center;
    cursor: pointer;
    position: relative;
    top: -28px;
}

/*-------------------------------------------------*/
/* =  Twitter Widget
/*-------------------------------------------------*/
.twitter-widget {
    margin-top: -4px;
}

.twitter-widget ul {
    margin-left: 0px;
}

.twitter-widget li {
    display: block;
    margin-top: 20px;
    padding-left: 30px;
    background: url(../images/twitter-icon.png) no-repeat left 7px;
}

#sidebar .twitter-widget li {
    display: block;
    margin-top: 20px;
    padding-left: 0;
}

.twitter-widget li:first-child {
    margin-top: 0px;
}

.twitter-widget p {
    color: #fff;
}

#sidebar .twitter-widget p {
    color: #6d6d6d;
}

.twitter-widget a {
    color: #fc7100 !important;
}

#sidebar .twitter-widget a {
    color: #000;
}

/*-------------------------------------------------*/
/* =  Text Widget
/*-------------------------------------------------*/
.textwidget p {
    color: #6d6d6d;
    font-size: 13px;
    line-height: 20px;
    margin-top: -5px;
}

footer .textwidget p {
    color: #fff;
    line-height: 22px;
}

.textwidget img {
    float: left;
    margin: 5px 15px 10px 0;
}

/*-------------------------------------------------*/
/* =  Tag Cloud Widget
/*-------------------------------------------------*/
li.widget_tag_cloud .tagcloud a {
    float: left;
    color: #fff;
    font-size: 11px !important;
    padding: 5px 7px;
    background: #666;
    margin: 0 6px 6px 0;

    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
}

li.widget_tag_cloud .tagcloud a:hover {
    background: #fc7100;
}

/*-------------------------------------------------*/
/* =  Social Media Widget
/*-------------------------------------------------*/
li.widget_social_media > ul {
    margin-left: 0;
}

li.widget_social_media > ul > li {
    float: left;
    width: 143px;
    height: 84px;
    margin: 0 9px 9px 0;
    margin: 0 7px 7px 0\0/;
}

li.widget_social_media > ul > li:nth-child(2n) {
    margin-right: 0;
}

li.widget_social_media > ul > li:nth-last-child(-n+2) {
    margin-bottom: 0px;
}

li.widget_social_media div.btn {
    position: relative;
    top: 54px;
    left: 13px;
}

li.widget_social_media li.twitter {
    background: url(../images/twitter.png) no-repeat;
}

li.widget_social_media li.google_plus {
    background: url(../images/google_plus.png) no-repeat;
}

li.widget_social_media li.facebook {
    background: url(../images/facebook.png) no-repeat;
}

li.widget_social_media li.pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

/*-------------------------------------------------*/
/* =  Video Page
/*-------------------------------------------------*/
.video-container {
    width: 100%;
    margin-bottom: 40px;
}

.video-container li {
    float: left;
    width: 193px;
    max-height: 202px;
    margin: 0 20px 10px 0;
    margin: 0 13px 10px 0\0/;
    overflow: hidden;
}

.video-container li:nth-child(3n) {
    margin-right: 0px;
}

.video-container li img {
    width: 179px;
    height: 138px;
    position: relative;
    border: 7px solid #eee;
}

.video-container li > a {
    display: block;
    position: relative;
}

.video-container li > a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/video-image-hover.html) no-repeat center center;
}

.video-container li > a:hover {
    opacity: 0.80;
    -moz-opacity: 0.80;
    filter:alpha(opacity=80);
}

.video-container .post-title {
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0 0 0;
}

/*-------------------------------------------------*/
/* =  Error Page
/*-------------------------------------------------*/
.error-404 p {
    font-family: 'Open Sans';
    font-size: 72px !important;
    text-transform: uppercase;
    color: #dbdbdb;
    line-height: normal;
    margin: 120px 0;
    text-align: center;
}

.error-404 p b {
    font-size: 102px;
    color: #fc7100;
    font-weight: normal;
}

.error-404 p span {
    display: block;
    font-family: arial;
    font-size: 13px;
    text-transform: none;
    color: #acacac;
    text-align: left;
    padding-left: 102px;
    margin-top: -20px;
}

/*-------------------------------------------------*/
/* =  Page & Singlepost
/*-------------------------------------------------*/
.featured-img {
    display: block;
    margin-bottom: 17px;
}

.featured-img img {
    width: 100%;
}

.singlepost p {
    line-height: 25px;
}

.line {
    clear: both;
    float: left;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    height: 0px;
    margin: 10px 0 20px 0;
}

/*-------------------------------------------------*/
/* =  Video Page
/*-------------------------------------------------*/
.video .post-container {
    height: auto;
}

.video .post .post-title a {
    color: #535353;
}

.video .post:nth-child(4n+1) {
    clear: both;
}

.video .post-image a {
    display: block;
    position: relative;
}

.video .post-image a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/video-image.png) no-repeat center center;
}

.video .post-image a:hover {
    opacity: 0.80;
    -moz-opacity: 0.80;
    filter:alpha(opacity=80);
}

/*-------------------------------------------------*/
/* =  Social Media
/*-------------------------------------------------*/
.singlepost .post-meta {
    float: left;
    margin-right: 25px;
}

.social-media {
    float: left;
    margin-top: -2px;
}

.social-media ul {
    margin: 0 !important;
}

.social-media li {
    list-style: none !important;
    float: left;
    margin-right: 12px;
}

.social-media li.twitter {
    width: 80px;
}

.social-media li:last-child {
    margin-right: 0;
}

/*-------------------------------------------------*/
/* =  Comments
/*-------------------------------------------------*/
ol#comments,
ol#comments ul,
ol#comments li {
    list-style: none !important;
}

ol#comments li {
    margin-bottom: 20px;
}

ol#comments p {
    margin-bottom: 10px !important;
    line-height: 17px;
}

ol#comments a {
    color: #424344;
}

ol#comments a:hover {
    color: #777;
}

ol#comments .comment-text a {
    color: #509ABD;
}

ol#comments .comment-text a:hover {
    color: #316D89;
}

ol#comments .author-avatar {
    float: left;
    width: 51px;
    height: 51px;
    margin-right: 15px;
}

ol#comments .author-avatar img {
    width: 51px;
    height: 51px;
    position: relative;
    z-index: 2;
}

ol#comments .comment-author {
    color: #454545;
    font-size: 14px;
    margin-bottom: -2px;
}

ol#comments .comment-date {
    font-size: 10px;
    color: #9c9c9c;
    margin-bottom: 3px;
}

ol#comments .comment-text {
    color: #828282;
    font-size: 13px;
    line-height: 20px;
    margin-left: 67px;
    position: relative;
}

ol#comments .comment-reply {
    margin-left: 67px;
}

ol#comments .comment-reply a.comment-reply-link {
    font-size: 11px;
    color: #fff !important;
    padding: 5px 10px;
    background: #fc7100;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
}

ol#comments .comment-reply a.comment-reply-link:hover {
    background: #4b4b4b;
}

/* -- Comment Tree -- */
ol#comments ul.children {
    margin-left: 24px;
    padding-left: 43px;
    position: relative;
    border-left: 1px dotted transparent;
    margin-top: 20px;
}

ol#comments ul.children.border {
    border-left: 1px dotted transparent;
}

ol#comments ul.children:not(.border) li:first-child .author-avatar:after {
    content: '';
    border-left: 1px dotted #a8a8a8;
    position: absolute;
    left: -44px;
    top: 0px;
    height: 29px;
}

ol#comments ul.children .author-avatar:before {
    content: '';
    position: absolute;
    left: -43px;
    margin-top: 28px;
    height: 35px;
    width: 27px;
    border-top: 1px dotted #a8a8a8;
}

ol#comments ul.children li {
    position: relative;
}

ol#comments li.depth-1 > .comment-text:before,
ol#comments li.depth-2 > .comment-text:before,
ol#comments li.depth-3 > .comment-text:before,
ol#comments li.depth-4 > .comment-text:before {
    content: '';
    position: absolute;
    left: -43px;
    margin-top: 48px;
    height: 100%;
    border-left: 1px dotted #a8a8a8;
}

ol#comments span.border-left {
    position: absolute;
    top: 0px;
    left: -1px;
    /*height: 90%;*/
    border-left: 1px dotted #a8a8a8;
    width: 0px;
}

ol#comments li.last-child > .comment-text:before {
    content: '';
    border-color: transparent !important;
}

/*-------------------------------------------------*/
/* =  Contact Page
/*-------------------------------------------------*/
.contact-form input[type="text"].error,
.contact-form textarea.error {
    color: #d84c4c;
}

.contact-form input[type="text"],
.contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    width: 300px;
    font-family: 'PT Sans';
    color: #878787;
    font-size: 11px;
    padding: 6px 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 12px;
}

.contact-form input[type="text"] {
    margin-left: 15px;
}

.contact-form.comment input[type="text"]{
    width: 195px !important;
}

.pull-center .contact-form.comment input[type="text"]{
    width: 301px !important;
    margin-left: 16px ;
}

.pull-center .contact-form input[type="text"]{
    width: 460!important;
}

.contact-form input[type="text"]:first-child {
    margin-left: 0 !important;
}

.contact-form textarea {
    height: 120px;
    min-height: 120px;
}

.contact-form input[type="submit"] {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    border: none;
    padding: 8px 25px;
    background: #fc7100;
    cursor: pointer;
}

input[type="submit"] {
    transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
}

input[type="submit"]:hover {
    opacity: 0.85;
    -moz-opacity: 0.85;
    filter:alpha(opacity=85);
}

.message {
    clear: both;
    float: left;
    max-width: 200px;
    height: 40px;
    line-height: 42px;
    overflow: hidden;
    font-size: 11px;
}

.message.error {
    color: #d84c4c;
}

.message.success { 
    color: #619d21;
}

#map {
    margin: 15px 0 25px 0;
}

/*-------------------------------------------------*/
/* =  Shortcodes
/*-------------------------------------------------*/
/* -- Dropcap -- */
.dropcap1 > h6,
.dropcap2 > h6 {
    color: #505050 !important;
    font-size: 16px !important;
    display: block;
    margin-bottom: 10px;
    font-weight: normal !important;
}

.dropcap1 span.large-cap {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px 5px 0px;
    background: url(../images/dropcap-bg.png) no-repeat;
}

.dropcap2 span.large-cap {
    float: left;
    width: 44px;
    height: 38px;
    color: #fc7100;
    line-height: 38px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px 2px 0px;
}

/* -- Buttons -- */
.button-red,
.button-yellow,
.button-green,
.button-blue,
.button-gray,
.button-black,
.button-violet,
.button-oqean,
.button-dark-violet,
.button-gold,
.button-light-green,
.button-brown {
    display: inline-block;
    padding: 10px 27px;
    color: #fff;
    font-size: 13px;
    margin: 0px 4px 8px 0px;
    border: none;
    cursor: pointer;

    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.button-red:hover,
.button-yellow:hover,
.button-green:hover,
.button-blue:hover,
.button-gray:hover,
.button-black:hover,
.button-violet:hover,
.button-oqean:hover,
.button-dark-violet:hover,
.button-gold:hover,
.button-light-green:hover,
.button-brown:hover {
    color: #eee;
    opacity: 0.90;
    -moz-opacity: 0.90;
    filter:alpha(opacity=90);
}

.button-red {
    background: #b71111; /* Old browsers */
    background: -moz-linear-gradient(top,  #b71111 0%, #a50000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b71111), color-stop(100%,#a50000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b71111 0%,#a50000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b71111 0%,#a50000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b71111 0%,#a50000 100%); /* IE10+ */
    background: linear-gradient(top,  #b71111 0%,#a50000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71111', endColorstr='#a50000',GradientType=0 ); /* IE6-9 */
}

.button-yellow {
    background: #e4ad12; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4ad12 0%, #d39c01 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4ad12), color-stop(100%,#d39c01)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* IE10+ */
    background: linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ad12', endColorstr='#d39c01',GradientType=0 ); /* IE6-9 */
}

.button-green {
    background: #517d26; /* Old browsers */
    background: -moz-linear-gradient(top,  #517d26 0%, #3f6b12 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#517d26), color-stop(100%,#3f6b12)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* IE10+ */
    background: linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517d26', endColorstr='#3f6b12',GradientType=0 ); /* IE6-9 */
}

.button-blue {
    background: #198bc7; /* Old browsers */
    background: -moz-linear-gradient(top,  #198bc7 0%, #0579b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#198bc7), color-stop(100%,#0579b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* IE10+ */
    background: linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198bc7', endColorstr='#0579b6',GradientType=0 ); /* IE6-9 */
}

.button-gray {
    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(top,  #969696 0%, #838383 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#838383)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #969696 0%,#838383 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #969696 0%,#838383 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #969696 0%,#838383 100%); /* IE10+ */
    background: linear-gradient(top,  #969696 0%,#838383 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#838383',GradientType=0 ); /* IE6-9 */
}

.button-black {
    background: #474747; /* Old browsers */
    background: -moz-linear-gradient(top,  #474747 0%, #363636 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(100%,#363636)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #474747 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #474747 0%,#363636 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #474747 0%,#363636 100%); /* IE10+ */
    background: linear-gradient(top,  #474747 0%,#363636 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

}

.button-violet {
    background: #a751ac; /* Old browsers */
    background: -moz-linear-gradient(top,  #a751ac 0%, #95409b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a751ac), color-stop(100%,#95409b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* IE10+ */
    background: linear-gradient(top,  #a751ac 0%,#95409b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a751ac', endColorstr='#95409b',GradientType=0 ); /* IE6-9 */

}

.button-oqean {
    background: #578faa; /* Old browsers */
    background: -moz-linear-gradient(top,  #578faa 0%, #457e99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#578faa), color-stop(100%,#457e99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #578faa 0%,#457e99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #578faa 0%,#457e99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #578faa 0%,#457e99 100%); /* IE10+ */
    background: linear-gradient(top,  #578faa 0%,#457e99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#578faa', endColorstr='#457e99',GradientType=0 ); /* IE6-9 */

}

.button-dark-violet {
    background: #5c57a7; /* Old browsers */
    background: -moz-linear-gradient(top,  #5c57a7 1%, #4c4595 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5c57a7), color-stop(100%,#4c4595)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* IE10+ */
    background: linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c57a7', endColorstr='#4c4595',GradientType=0 ); /* IE6-9 */
}

.button-gold {
    background: #beb41e; /* Old browsers */
    background: -moz-linear-gradient(top,  #beb41e 0%, #ada30d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#beb41e), color-stop(100%,#ada30d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* IE10+ */
    background: linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beb41e', endColorstr='#ada30d',GradientType=0 ); /* IE6-9 */
}

.button-light-green {
    background: #3ebd28; /* Old browsers */
    background: -moz-linear-gradient(top,  #3ebd28 0%, #2bab16 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ebd28), color-stop(100%,#2bab16)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* IE10+ */
    background: linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ebd28', endColorstr='#2bab16',GradientType=0 ); /* IE6-9 */
}

.button-brown {
    background: #9c5b55; /* Old browsers */
    background: -moz-linear-gradient(top,  #9c5b55 0%, #8b4b42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c5b55), color-stop(100%,#8b4b42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* IE10+ */
    background: linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c5b55', endColorstr='#8b4b42',GradientType=0 ); /* IE6-9 */
}

.bullet-list,
.link-list,
.map-list,
.arrow-list {
    float: left;
    overflow: hidden;
    width: 289px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bullet-list li,
.link-list li,
.map-list li,
.arrow-list li {
    color: #4d4d4d;
    padding-left: 25px;
    display: block;
    min-height: 24px;
    line-height: 24px;
}

.bullet-list li {
    background: url(../images/bullet-style.png) no-repeat left center;
}

.link-list li {
    background: url(../images/link-style.png) no-repeat left center;
}

.map-list li {
    background: url(../images/map-style.png) no-repeat left center;
}

.arrow-list li {
    background: url(../images/arrow-style.png) no-repeat left center;
}

/*-------------------------------------------------*/
/* =  FancyBox - v2.0.6
/*-------------------------------------------------*/
.fancybox-tmp iframe, .fancybox-tmp object {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    overflow: visible !important;
}

.fancybox-skin {
    position: relative;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    padding: 0;
    margin: 0;
    position: relative;
    outline: none;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 10px;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../images/fancybox/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8020;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../images/fancybox/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    background: transparent url(../images/fancybox/blank.gif); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 20px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 20px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -9999px;
    left: -9999px;
    padding: 0;
    overflow: visible;
    visibility: hidden;
}

/* Overlay helper */
#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: #000;
}

#fancybox-overlay.overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8030;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    background: url(http://www.htmltocss.com/rgbatopng.php?rgba=0,0,0,0.8)\0/;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    margin-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
    background: url(http://www.htmltocss.com/rgbatopng.php?rgba=0,0,0,0.8)\0/;
}